<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Budget Request</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="border: none; border-collapse: collapse; font-family:  Arial, sans-serif; font-size: 14px; line-height: 1.5;">

    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <h1 class="display-1" align="center">ACCOMPLISHMENT REPORT OF DISTRIBUTION OF RELIEF PACKS TO</h1>
                                <h1 class="display-1" align="center">BARANGAY CONSTITUENTS</h1>
                                <hr>
                                <h2>I. INTRODUCTION</h2>
                                <p>{{ report.introduction }}</p>
                                <h2>II. OBJECTIVES</h2>
                                <ul>
                                    {% for objective in objectives %}
                                        <li>{{ objective.objective }}</li>
                                    {% endfor %}
                                </ul>
                                <br>
                                <h2>III. HIGHLIGHTS AND ACCOMPLISHMENTS</h2>
                                <ul>
                                    {% for highlight in highlights %}
                                        <li>{{ highlight.highlight }}</li>
                                    {% endfor %}
                                </ul>
                                <br>
                                <hr>
                                <p align="right">Date Submitted:</p>
                                <p align="right">{{ report.report_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>    

</table>
</body>
</html>