{% extends 'managementsystem/layout.html' %}

{% block content %}


<div class="card">
    <div class="card-header">
        <h2>Distribution Tracker</h2>
    </div>

    <div class="card-body">
        <h3 class="card-title">Households in Barangay</h3>
        <br></br>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">House No.</th>
              <th scope="col">Household Head</th>
              <th scope="col">Reception Status</th>
              <th scope="col">Reception Proof</th>
            </tr>
          </thead>
          <tbody>
            {% for household in household_list %}
              <tr>
                <td><h6>{{household}}</h6></td>
                <td><h6>{{household.household_head}}</h6></td>
                {% ifequal household.has_received_assistance True %}
                  <td>Recieved</td>
                {% else %}
                  <td> Not Recieved</td>
                {% endifequal %}
                <td><h6>{{MEDIA_URL}}{{household.reception_proof}}</h6></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

    

{% endblock content %}
