<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Budget Request</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="border: none; border-collapse: collapse; font-family:  Arial, sans-serif; font-size: 14px; line-height: 1.5;">

    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <h1 class="display-1" align="center">Relief Budget Request Form</h1>
                                {% comment %} <p class="lead" align="left">Requested by: </p> {% endcomment %}
                                <p>Requested by: {{ budgetrequest.requestor }}</p>
                                <p>Email: {{ budgetrequest.email }}</p>
                                <p>Date Requested: {{ budgetrequest.date_requested }}</p><br>
                                <p>The budget that you were offered based on a 
                                    standard cost of attendance (COA). Please review your COA before 
                                    submitting your request
                                    for a budget to determine if costs have already been included. 
                                </p>
    
                                <p>Request Period: <b>{{budgetrequest.request_period_start }}</b> to <b>{{ budgetrequest.request_period_end}}</b></p>
                                <hr>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-sm">
                                          <thead>
                                            <tr>
                                              <th scope="col"><p>Budget Category</p>
                                                <p>(Complete items for which you are requesting an increase)</p>
                                              </th>
                                              <th scope="col">
                                                <p>Cost</p>
                                                <p>(Indicate the amount per month)</p>                                  
                                              </th>
                                              <th scope="col">
                                                Documentation Required
                                              </th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for info in infos %}
                                              <tr>
                                                <td align="center">{{ info.budget_category }}</td>
                                                <td align="center">{{ info.cost }}</td>
                                                <td align="center">{{ info.required_documentation }}</td>
                                              </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>    

</table>
</body>
</html>