{% extends 'managementsystem/layout.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
      Operations
    </div>
    <div class="card-body">
      <h3 class="card-title">Distribution Tracker</h3>
      <p class="card-text">Distribution status per barangay</p>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Barangay</th>
              <th scope="col">Households</th>
              <th scope="col">Received Assistance</th>
              <th scope="col">Completion</th>
            </tr>
          </thead>
          <tbody>
            {% for barangay in barangay_list %}
              <tr>
                <td><h6><a href="{% url 'operations:barangay_households' barangay.id %}">{{barangay}}</a></h6></td>
                <td>{{barangay.number_of_households}}</td>
                <td>{{barangay.number_of_received_assistance}}</td>
                <td>{{barangay.completion_status}}%</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
    <br></br>
    
{% endblock content %}