<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Supply Request</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="border: none; border-collapse: collapse; font-family:  Arial, sans-serif; font-size: 14px; line-height: 1.5;">

    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <h1 class="display-1" align="center">Relief Supply Request Form</h1>
                                <h2 class="display-2" align="center">(Inventory)</h2>
                                <p>Organization: {{ supplyrequest.organization }}</p>
                                <p>Date Form Completed: {{ supplyrequest.date_form_completed }}</p>
                                <p>Date Needed By: {{ supplyrequest.date_needed_by }}</p>
                                <p>Contact Person: {{ supplyrequest.contact_person }}  Contact Number: {{ supplyrequest.contact_number }}</p><br>
                                <hr>
                                <div class="table-responsive">
                                        <table class="table table-striped table-sm">
                                          <thead>
                                            <tr>
                                              <th scope="col">Item Name</th>
                                              <th scope="col">Item Description</th>
                                              <th scope="col">Item Category</th>
                                              <th scope="col">Quantity</th>
                                              <th scope="col">Cost/Price</th>
                                              <th scope="col">Sub Total</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for info in infos %}
                                              <tr>
                                                <td align="center">{{ info.item_name }}</td>
                                                <td align="center">{{ info.item_description }}</td>
                                                <td align="center">{{ info.item_category }}</td>
                                                <td align="center">{{ info.quantity }}</td>
                                                <td align="center">{{ info.cost }}</td>
                                                <td align="center">{{ info.sub_total }}</td>
                                              </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>    

</table>
</body>
</html>