<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Budget Request</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="border: none; border-collapse: collapse; font-family:  Arial, sans-serif; font-size: 14px; line-height: 1.5;">

    <div id="layoutError">
        <div id="layoutError_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mt-4">
                                <h1 class="display-1" align="center">TRACKING REPORT</h1>
                                <hr>
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                      <thead>
                                        <tr>
                                          <th scope="col">Barangay</th>
                                          <th scope="col">Registered Households</th>
                                          <th scope="col">Received Assistance</th>
                                          <th scope="col">Completion Rate</th>
                                          <th scope="col">Remarks</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                            <td align="center">{{ report.barangay }}</td>
                                            <td align="center">{{ report.registered_households }}</td>
                                            <td align="center">{{ report.received_assistance }}</td>
                                            <td align="center">{{ report.completion_rate|stringformat:".2f" }}%</td>
                                            <td align="center">{{ report.remarks }}</td>
                                          </tr>
                                      </tbody>
                                    </table>
                                </div>
                                <br>
                                <hr>
                                <p align="right">Date Submitted:</p>
                                <p align="right">{{ report.pub_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>    

</table>
</body>
</html>