{% extends 'managementsystem/layout.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
      Households
    </div>
    <div class="card-body">
      <h2 class="card-title">Registered Households</h2>
      <hr>
      <div class="card-body" align="center">
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to remove {{object.household_head_lastname}} household from the system? </p>
            {{ form.as_p }}
            <input class="btn btn-danger" type="submit" value="Remove">
        </form>
      </div>
    </div>
  </div>
    <br></br>

{% endblock content %}