{% extends 'managementsystem/layout.html' %}

{% block content %}

  <div class="card">
    <div class="card-header">
      Households
    </div>
    <div class="card-body">
      <h2 class="card-title">Registered Households</h2>
      <p class="card-text">View Households list and confirm relief reception</p>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">House No.</th>
              <th scope="col">Household Head</th>
              <th scope="col">Address</th>
              <th scope="col">Monthly Income</th>
              <th scope="col">Number of Members</th>
              <th scope="col">Reception Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for household in household_list %}
              <tr>
                <td>{{household}}</td>
                <td>{{household.household_head}}</td>
                <td>{{household.address}}</td>
                <td>{{household.monthly_income}}</td>
                <td>{{household.number_of_members}}</td>
                {% if household.has_received_assistance == True %}
                  <td>Recieved</td>
                  <td><button class="btn btn-secondary" disabled>Relief Assistance Received</button></td>
                {% else%}
                  <td> Not Recieved</td>
                  <td><a class="btn btn-primary" href="{% url 'households:reception' household.id %}">Verify Reception</button></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <br></br>
      
{% endblock %}