{% extends 'managementsystem/layout.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<div class="card">
    <div class="card-header">
      Households
    </div>
    <div class="card-body">
      <h2 class="card-title">Registered Households</h2>
      <p class="card-text">View Households list and confirm relief reception</p>
      <div class="card-body" align="center">
        <form method="post">{% csrf_token %}
            <div class="fieldWrapper">
              {% bootstrap_field form.reception_proof %}
            </div>
            <div class="fieldWrapper">
              <p>Check to confirm if household {% bootstrap_field form.has_received_assistance show_lable=True%}</p>
            </div>
            <input class="btn btn-primary" type="submit" value="Update">
        </form>
      </div>
    </div>
  </div>
    <br></br>

{% endblock content %}