{% extends 'managementsystem/layout.html' %}

{% block content %}

  <div class="card">
    <div class="card-header">
      Registration
    </div>
    <div class="card-body">
      <h2 class="card-title">Household registration</h2>
      <p class="card-text">Register households</p>
      
      <div class="d-grid gap-3">
        <a type="button" class="btn btn-primary btn-block" href="{% url 'households:register'%}">Register Household</a>
        
        <br>
        <div>
          <hr>
          <h4>Import from file (.xslx):</h4>

          <form action="{% url "households:import_file" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                <div class="col-md-8">
                    <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
                </div>                    
            </div>
            <div class="form-group">
              <br>                    
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                     <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
                </div> 
            </div>
          </form>
        </div>
        <hr>
      <p class="card-text">Households registered/imported:</p>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">House No.</th>
                  <th scope="col">Household Head</th>
                  <th scope="col">Address</th>
                  <th scope="col">Monthly Income</th>
                  <th scope="col">Number of Members</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for new_household in new_households %}
                <tr>
                  <td>{{new_household.house_number}}</td>
                  <td><h6><a href="{% url 'households:update' new_household.id %}">{{new_household.household_head}}</a></h6></td>
                  <td>{{new_household.address}}</td>
                  <td>{{new_household.monthly_income}}</td>
                  <td>{{new_household.number_of_members}}</td>
                  <td><a href="{% url 'households:delete' new_household.id %}" class="btn btn-danger">Remove</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
    <br></br>
      
{% endblock %}