{% extends 'managementsystem/layout.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

<!-- message input card -->
<div class="card">
  <div class="card-header">
    SMS Update
  </div>
  <div class="card-body">
    <h3 class="card-title">Distribution Operation SMS Update</h3>
    <p class="card-text">Update households regarding the distribution thru SMS below :</p>

        <!-- SMS form -->
        <form method="post">
        {% csrf_token %}
        
        {% bootstrap_form form %}
        
          <input type="submit" value="Send" class="btn btn-primary">
        </form>
        
  </div>
</div>

<!-- message records logs card -->
<div class="card">
    <div class="card-body">
        <h4 class="card-title">SMS Message Logs</h4>

        <!-- logs grid -->

        <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Message</th>
              <th scope="col">Date Sent</th>
            </tr>
          </thead>
          <tbody>
          {% for message in messages %}
            <tr>
                <td>{{message.message_title}}</td>
                <td>{{message.message_content}}</td>
                <td>{{message.date_sent}}</td>
              </tr>
          {% endfor %}
              
          </tbody>
        </table>
      </div>


    </div>
</div>



{% endblock content %}


