{% extends 'managementsystem/layout.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}

  <div class="card">
    <div class="card-header">
      Households
    </div>
    <div class="card-body">
      <h2 class="card-title">Update household Information</h2>
      <hr>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="container">
          <div class="row">
            <div class="col-md"> {% comment %} hh add col {% endcomment %}
              {% comment %} household address info {% endcomment %}
              <div class="card">
                <div class="card-header">
                  Household Address Information
                </div>
                <div class="card-body">
                  <div class="fieldWrapper">
                    {% bootstrap_field form.house_number%}
                  </div>
                  <div class="fieldWrapper">
                    {% bootstrap_field form.street %}
                  </div>
                  <div class="fieldWrapper">
                    {% bootstrap_field form.subdivision %}
                  </div>
                  <div class="fieldWrapper">
                    {% bootstrap_field form.zone %}
                  </div>
                  <div class="fieldWrapper">
                    {% bootstrap_field form.barangay %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md"> {% comment %} hh info col {% endcomment %}
              {% comment %} household head info {% endcomment %}
              <div class="card">
                <div class="card-header">
                  Household Head Information
                </div>
                <div class="card-body">
                  <div class="fieldWrapper">
                    {% bootstrap_field form.household_head_firstname %}
                  </div>
                  <div class="fieldWrapper">
                    {% bootstrap_field form.household_head_middlename %}
                  </div>
                  <div class="fieldWrapper">
                    {% bootstrap_field form.household_head_lastname %}
                  </div>
                  <div class="fieldWrapper">
                    {% bootstrap_field form.monthly_income %}
                  </div>
                  <div class="fieldWrapper">
                    {% bootstrap_field form.contact_number %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <hr> 
        <h4>Members:</h4>
            <br>
            {% for formset in inlines  %}
            <div class="container">
              <div class="row">
                <div class="col-md">
                  <div class="card">
                    <div class="card-header">
                      Household Member Information
                    </div>
                    <div class="card-body">
                      {% bootstrap_formset formset %}
                      <hr>
                      {% buttons submit='Add another member' formset.form.extra|add:'1' %}{% endbuttons %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
        {% endfor %}
        
          <input type="submit" value="Update" class="btn btn-primary">
      </form>
    </div>
  </div>
    <br></br>
      
{% endblock %}