{% extends 'managementsystem/layout.html' %}

{% block content %}

  <div class="card">
    <div class="card-header">
      Inventory
    </div>
    <div class="card-body">
      <h2 class="card-title">Relief Stock Inventory</h2>
      <p class="card-text">List of relief goods in stock</p>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Item Name</th>
              <th scope="col">Number of Stocks</th>
              <th scope="col">Is Donated</th>
              <th scope="col">Fund Source</th>
            </tr>
          </thead>
          <tbody>
            {% for item in item_list %}
              <tr>
                <td>{{item}}</td>
                <td>{{item.get_number_of_stocks}}</td>
                <td>{{item.is_donated}}</td>
                <td>{{item.fund_source}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table> 
      </div>
    </div>
  </div>
    <br></br>
      
{% endblock %}