{% extends 'managementsystem/layout.html' %}

{% block content %}

  <div class="card">
    <div class="card-header">
      Inventory
    </div>
    <div class="card-body">
      <h2 class="card-title">Received Relief Packages</h2>
      <p class="card-text">List of received approved relief packages</p>
      <div class="card-body" align="center">
        <form method="post">{% csrf_token %}
          <h2>Confirm relief package reception?</h2>
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Confirm">
        </form>
      </div>
    </div>
  </div>
    <br></br>
      
{% endblock %}