{% extends 'managementsystem/layout.html' %}

{% block content %}

  <div class="card">
    <div class="card-header">
      Inventory
    </div>
    <div class="card-body">
      <h2 class="card-title">Received Relief Packages</h2>
      <p class="card-text">List of items included in the relief package</p>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Items</th>
            </tr>
          </thead>
          <tbody>
            {% for reliefpackage in reliefpackage_list %}
              {% for items in reliefpackage.relief_items.all %}
                <tr>
                  <td>{{items}}</td>
              </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table> 
      </div>
    </div>
  </div>
    <br></br>
      
{% endblock %}