{% extends 'managementsystem/layout.html' %}

{% block content %}

  <div class="card">
    <div class="card-header">
      Inventory
    </div>
    <div class="card-body">
      <h2 class="card-title">Received Relief Packages</h2>
      <p class="card-text">List of received approved relief packages</p>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Date Received</th>
              <th scope="col">Date of Approval</th>
              <th scope="col">Approval Instruction</th>
              <th scope="col">Reception</th>
            </tr>
          </thead>
          <tbody>
            {% for reliefpackage in reliefpackage_list %}
              {% if reliefpackage.status == "APPROVED" %}
                <tr>
                  <td><h6><a href="{% url 'inventory:package_items' reliefpackage.id %}">{{reliefpackage.name}}</a></h6></td>
                  <td>{{reliefpackage.date_received}}</td>
                  <td>{{reliefpackage.date_of_approval}}</td>
                  <td>{{reliefpackage.approval_instruction|safe}}</td>
                  
                  {% if reliefpackage.reception_status == False %}
                    <td><a class="btn btn-primary" href="{% url 'inventory:reception' reliefpackage.id %}">Confirm Reception</button></td>
                  {% else %}
                    <td><a class="btn btn-secondary" disabled>Received</button></td>
                  {% endif %}
                </tr>
              {% elif reliefpackage.status == "approved" %}
                <tr>
                  <td><h6><a href="{% url 'inventory:package_items' reliefpackage.id %}">{{reliefpackage.name}}</a></h6></td>
                  <td>{{reliefpackage.date_received}}</td>
                  <td>{{reliefpackage.date_of_approval}}</td>
                  <td>{{reliefpackage.approval_instruction|safe}}</td>
                  
                  {% if reliefpackage.reception_status == False %}
                    <td><a class="btn btn-primary" href="{% url 'inventory:reception' reliefpackage.id %}">Confirm Reception</button></td>
                  {% else %}
                    <td><a class="btn btn-secondary" disabled>Received</button></td>
                  {% endif %}
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table> 
      </div>
    </div>
  </div>
    <br></br>
      
{% endblock %}