{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - TulongTanggapAgad</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'managementsystem/css/styles.css' %}" rel="stylesheet">
        
        <!-- Bootstrap core JS -->
        <script src="{% static 'managementsystem/js/scripts.js' %}" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><img src="{% static 'managementsystem/assets/img/mswd_logo.png' %}" width="90" height="90" style="vertical-align:middle;margin:0px 190px"></div>
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">TulongTanggapAgad</h3></div>
                                    <div class="card-body">
                                        <div class="container py-4">    
                                            <h2 align="center">Login</h2>
                                            <br>
                                            <form align="center" method="post">
                                                {% csrf_token %}
                                                {% bootstrap_form login_form%}
                                                    <input class="btn btn-primary" type="submit" value="Sign In" align="center">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; TulongTanggapAgad 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
