{% extends 'managementsystem/layout.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    Home
  </div>
  <div class="card-body">
    <h1 class="card-title">Welcome!</h1>
    {% for pdra in riskassessment %}
      <div class="card">
        <div class="card-header">
          Risk Assessment Evaluation (<i><b>{{pdra.assessment_date}}</b></i>):
        </div>
        <div class="card-body">
          <h4>Workplace Location:</h4>
          {{pdra.workplace_location}}
          <br></br>
          <h5>Assessment Conductor:</h5>
          {{pdra.assessment_conductor}}
          <br></br>
          <h5>Reviewed By:</h5>
          {{pdra.reviewed_by}}
          <br></br>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Risk</th>
                  <th scope="col">Livelihood</th>
                  <th scope="col">Hazard Risk/Impact</th>
                  <th scope="col">Actions Required</th>
                  <th scope="col">Action Taker</th>
                  <th scope="col">Action Date</th>
                  <th scope="col">Response Strategy</th>
                  <th scope="col">Evaluation Results</th>
                </tr>
              </thead>
              <tbody>
                {% for info in riskassessmentinfo %}
                  <tr>
                    <td>{{ info.risk }}</td>
                    <td>{{ info.livelihood }}</td>
                    <td>{{ info.livelihood }}</td>
                    <td>{{ info.hazard_level }}</td>
                    <td>{{ info.action_taker }}</td>
                    <td>{{ info.action_date }}</td>
                    <td>{{ info.response_strategy }}</td>
                    <td>{{ info.evaluation_results }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    {% endfor %}
    
  </div>
  <a class="btn btn-secondary" type="button" align="right" href="{% url 'managementsystem:updates' %}">view updates history</a>
</div>
  <br></br>

{% endblock %}
