{% extends 'managementsystem/layout.html' %}

{% block content %}

 <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h1 class="display-1">Unauthorized</h1>
                                    <p class="lead">No Access</p>
                                    <p>Contact admin to access this feature.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

{% endblock %}