{% extends 'managementsystem/layout.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    Home
  </div>
  <div class="card-body">
    <h2 class="card-title">Updates history</h2>
    <br>
    {% for pdra in riskassessment_list %}
      <div class="card">
        <div class="card-header">
          Risk Assessment Evaluation (<i><b>{{pdra.assessment_date}}</b></i>):
        </div>
        <div class="card-body">
          <h4>Workplace Location:</h4>
          {{pdra.workplace_location}}
          <br></br>
          <h5>Assessment Conductor:</h5>
          {{pdra.assessment_conductor}}
          <br></br>
          <h5>Reviewed By:</h5>
          {{pdra.reviewed_by}}
          <br></br>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
  <br></br>

{% endblock %}
